body{
    text-align: center;
    background-color: rgba(190, 174, 174, 0.888);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    width: divice_width;
    /* height: 300px; */
    margin: auto;
}
nav {
        font-size: 18px;
        font-weight: bold;
        box-sizing: border-box;
        margin: auto;
        background-color: #e6dedee8;
        max-width: 924px;
    }
a:hover {
  color: rgb(245, 243, 245);
}
.image {
    float:right;
    flex-direction: column;
    /* margin-right: 120px; */
}

a {
    color: black;
    text-align: center;
    text-decoration: none;
    }

ul {
    overflow: hidden;
    list-style-type: none;
    text-align: center;
    }

li{
    float: left;
    padding: 16px;
    text-align: center;
    }

.splash-copy{
    display: flex;
    flex-direction: column;
   
}
.splash {
    display: flex;
    justify-content: center;
    gap: 42px;
}

.splash h1 {
            font-size: 100px;
            margin-bottom: 200px;
            color: purple;
            line-height: 50px;
        }
p{
    /* font-size: 20px; */
    /* font-style:unset; */
    /* margin-left: 250px; */
    /* margin-right: 250px; */
    line-height: 1.5;
    margin: 0 0 1.5rem;
    color:palevioletred;
    text-align: center;
}