body {
    text-align: center;
    background-color: rgb(16, 13, 13);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

.container {
    width: divice_width;
    /* height: 300px; */
    margin: auto;
}

nav {
    font-size: 18px;
    box-sizing: border-box;
    font-weight: bold;
    margin: auto;
    background-color: #e6dede97;
    max-width: 796px;
}

a {
    color: rgba(202, 195, 202, 0.735);
    text-align: center;
    text-decoration: none;
}

a:hover {
    color: rgb(14, 12, 13);
}

.image{
    float: right;
    min-height: 8vh;
    flex-direction: column;
    transition: width 2s, height 2s, transform 2s;
}

.image:hover {
    transform: scale(1.1);
}

ul {
    overflow: hidden;
    list-style-type: none;
    text-align: center;

}

li {
    float: left;
    padding: 16px;
    text-align: center;

}

.splash-copy {
    display: flex;
    flex-direction: column;

}

.splash {
    display: flex;
    justify-content: center;
    gap: 42px;
}

.splash-copy h1 {
    text-align: left;
}

.splash h1 {
    color: rgb(241, 232, 234);
    font-size: 44px;
    line-height: 50px;
    text-align: center;
}

.splash p {
    font-size: 20px;
    margin: 0 0 2rem;
    line-height: 1.5;
    color: #9C9C9C;
    /* text-align: left; */
    /* /* margin-bottom: 100px; */
}

/* .testbtn {
  background-color: #5f0cefce;
} */
/* h2 {
    text-align: left;
    color:rgba(233, 235, 237, 0.943);
    font-size: 40px;
    padding-left: 100px;
    } */
/* .content hr {
    background-color: rgb(210, 187, 178);
    margin: 50px auto;
    width: 50%;
    height: 5px;
    border-radius: 2px;
    max-width: 430px; 
     } */
p {
    font-size: 20px;
    /* margin: 0 0 1.5rem; */
    padding-left: 0px;
    line-height: 1.5;
    color: rgb(152, 85, 97);
}

.button {
    text-align: center;
    font-size: 20px;
    border: 1px solid #1B1B1B;
    padding: 10px 24px;
    background-color: rgb(25, 24, 24);
    margin: 20px;
    border-radius: 2px;
    color: #9C9C9C;
    /* transition: all 0.5s ease-out; */
}
.button:hover,
 button:focus {
  background-color: white;
  color: #333333;
}
.btn {
    text-align: center;
    border-radius: 5px;
    background-color: #3F8E00;
    font-size: 20px;
    border: 1px;
    margin: 4px 70px;
    padding: 15px 32px;
    color: whitesmoke;
    transition: background-color 1s ease-out, transform 1s ease-out;
}

.btn:hover {
    width: 300px;
    background-color: darkmagenta;
    transform: scale(1.1);
}

.skills {
    color: rgb(241, 232, 234);
    font-size: 30px;
}

.projects {
    color: rgb(241, 232, 234);
    font-size: 30px;
    line-height: 50px;
    text-align: center;
}
.prj {
    color: #9C9C9C;
    font-size: 14px;
}

.voter {
    /* border: 1px solid red; */
    color: rgb(241, 232, 234);
    font-size: 20px;
    line-height: 50px;
    padding: 15px 32px;
    display: flex;
    gap: 46px;
    justify-content: center;
    /* transition: width 1s, height 1s, transform 1s; */
}

.pj {
    color: #9C9C9C;
    display: flex;
    flex-direction: column;
    /* gap: 42px; */
    font-size: 14px;
}

.img {
    float:right;
    margin-top: 50px;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    transition: width 2s, height 2s, transform 2s;
 }

.img:hover {
    transform: scale(1.1);
}

.url {
    color: rgb(241, 232, 234);
    /* border: 1px solid red;  */
    font-size: 20px;
    line-height: 50px;
    /* float: left;  */
    /* margin: 4px 70px; */
    padding: 15px 32px;
    /* text-align: center; */
    display: flex;
    gap: 46px;
    justify-content: center;
}

.prjc {
    color: #9C9C9C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
}

.im {
    margin-top: 50px;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    transition: width 2s, height 2s, transform 2s;
}
.im:hover {
    transform: scale(1.1);
}