body{
    text-align: center;
    background-color: rgb(112, 157, 163);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    width: divice_width;
    margin: auto;
}
nav {
        font-size: 18px;
        font-weight: bold;
        margin: auto;
        max-width: 924px;
        background-color: #e6dedee8;
    }
a:hover {
  color:brown;
}
.image {
    float:right;
    flex-direction: column;
    margin-right: 120px;
}

a {
    color:rgb(94, 94, 110);
    text-align: center;
    text-decoration: none;
    }

ul {
    overflow: hidden;
    list-style-type: none;
    }

li{
    float: left;
    padding: 16px;
    }

.splash-copy{
    display: flex;
    flex-direction: column;
   
}
.splash {
    display: flex;
    justify-content: center;
}

.splash h1 {
            font-size: 100px;
            margin-bottom: 200px;
            color: black;
            font-family: Garamond, serif;
        }
p{
    font-size: 20px;
    font-style:unset;
    margin-left: 250px;
    margin-right: 250px;
    line-height: 1.5;
    color:rgb(233, 9, 121);
}